.header {
  padding: 60px;
  text-align: center;
  background: salmon;
  color: white;
  font-size: 30px;
}

.rightsidenav 
{
  height: 60%;
  width: 250px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: lightgray;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav 
{
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightgray;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a 
{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: mediumslateblue;
  display: block;
}
.sidenav h1
{
	padding: 6px 8px 6px 16px;
	color: red;
}

body
{
	background-color: teal;
	color: black;
}

p
{
	color: blue;
}

.center
{
	margin: auto;
	width: 60%;
 	border: 3px solid red;
    padding: 10px;
}

div.pics
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.circle 
{
  border-radius: 50%;
}

.round
{
	border-radius: 10%
}